In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [18]:
# data https://www.kaggle.com/datasets/shazadudwadia/supermarket
dataset = pd.read_csv('/content/GroceryStoreDataSet.csv')

In [6]:
dataset.head()

              MILK,BREAD,BISCUIT
0  BREAD,MILK,BISCUIT,CORNFLAKES
1            BREAD,TEA,BOURNVITA
2           JAM,MAGGI,BREAD,MILK
3              MAGGI,TEA,BISCUIT
4            BREAD,TEA,BOURNVITA

In [19]:
dataset.columns

Index(['MILK,BREAD,BISCUIT'], dtype='object')

In [20]:
dataset.shape

(19, 1)

In [21]:
dataset.loc[len(dataset.index)] = ['MILK,BREAD,BISCUIT']

In [22]:
dataset.shape

(20, 1)

In [26]:
dataset.rename(columns={'MILK,BREAD,BISCUIT': 'prods'}, inplace=True)

In [24]:
dataset.dtypes

MILK,BREAD,BISCUIT    object
dtype: object

In [27]:
data_arr = list(dataset.prods.map(lambda x: x.split(',')))

In [28]:
te = TransactionEncoder()
te_array = te.fit(data_arr).transform(data_arr)
df = pd.DataFrame(te_array, columns=te.columns_)

In [29]:
frequent_itemsets_ap = apriori(df, min_support=0.1, use_colnames=True)
print(frequent_itemsets_ap)

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
5      0.30                         (CORNFLAKES)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
9      0.30                              (SUGER)
10     0.35                                (TEA)
11     0.20                     (BISCUIT, BREAD)
12     0.10                      (BISCUIT, COCK)
13     0.10                    (BISCUIT, COFFEE)
14     0.15                (CORNFLAKES, BISCUIT)
15     0.10                     (BISCUIT, MAGGI)
16     0.10                      (BISCUIT, MILK)
17     0.10                       (BISCUIT, TEA)
18     0.15                   (BOURNVITA, BREAD)
19     0.10                   (BOURNVITA, SUGER)
20     0.10                     (BOURNVITA, TEA)
21     0.15                      (BREAD, COFFEE)
22     0.10                         (BREAD, JAM)
23     0.15                       (BREAD, MAGGI)
24     0.20                        (BREAD, MILK)
25     0.20                       (SUGER, BREAD)
26     0.20                         (TEA, BREAD)
27     0.15                       (COCK, COFFEE)
28     0.10                   (CORNFLAKES, COCK)
29     0.20                 (CORNFLAKES, COFFEE)
30     0.20                      (SUGER, COFFEE)
31     0.10                   (CORNFLAKES, MILK)
32     0.10                    (CORNFLAKES, TEA)
33     0.10                         (MAGGI, JAM)
34     0.20                         (TEA, MAGGI)
35     0.10               (BISCUIT, BREAD, MILK)
36     0.10              (BISCUIT, COCK, COFFEE)
37     0.10          (CORNFLAKES, BISCUIT, COCK)
38     0.10        (CORNFLAKES, BISCUIT, COFFEE)
39     0.10                (BISCUIT, TEA, MAGGI)
40     0.10              (BOURNVITA, TEA, BREAD)
41     0.10               (SUGER, BREAD, COFFEE)
42     0.10                  (BREAD, MAGGI, JAM)
43     0.10                  (TEA, BREAD, MAGGI)
44     0.10           (CORNFLAKES, COCK, COFFEE)
45     0.10  (CORNFLAKES, BISCUIT, COCK, COFFEE)

In [30]:
rules_ap = association_rules(frequent_itemsets_ap, metric='confidence', min_threshold=0.8)
print(rules_ap)

                      antecedents           consequents  antecedent support  \
0                           (JAM)               (BREAD)                0.10
1                          (MILK)               (BREAD)                0.25
2                          (COCK)              (COFFEE)                0.15
3                           (JAM)               (MAGGI)                0.10
4                         (MAGGI)                 (TEA)                0.25
5                 (BISCUIT, MILK)               (BREAD)                0.10
6                 (BISCUIT, COCK)              (COFFEE)                0.10
7               (BISCUIT, COFFEE)                (COCK)                0.10
8              (CORNFLAKES, COCK)             (BISCUIT)                0.10
9                 (BISCUIT, COCK)          (CORNFLAKES)                0.10
10              (BISCUIT, COFFEE)          (CORNFLAKES)                0.10
11                 (BISCUIT, TEA)               (MAGGI)                0.10
12               (BISCUIT, MAGGI)                 (TEA)                0.10
13               (BOURNVITA, TEA)               (BREAD)                0.10
14                   (BREAD, JAM)               (MAGGI)                0.10
15                   (MAGGI, JAM)               (BREAD)                0.10
16                          (JAM)        (BREAD, MAGGI)                0.10
17             (CORNFLAKES, COCK)              (COFFEE)                0.10
18    (CORNFLAKES, BISCUIT, COCK)              (COFFEE)                0.10
19  (CORNFLAKES, BISCUIT, COFFEE)                (COCK)                0.10
20     (CORNFLAKES, COCK, COFFEE)             (BISCUIT)                0.10
21        (BISCUIT, COCK, COFFEE)          (CORNFLAKES)                0.10
22             (CORNFLAKES, COCK)     (BISCUIT, COFFEE)                0.10
23                (BISCUIT, COCK)  (CORNFLAKES, COFFEE)                0.10
24              (BISCUIT, COFFEE)    (CORNFLAKES, COCK)                0.10

    consequent support  support  confidence       lift  leverage  conviction
0                 0.65     0.10         1.0   1.538462    0.0350         inf
1                 0.65     0.20         0.8   1.230769    0.0375        1.75
2                 0.40     0.15         1.0   2.500000    0.0900         inf
3                 0.25     0.10         1.0   4.000000    0.0750         inf
4                 0.35     0.20         0.8   2.285714    0.1125        3.25
5                 0.65     0.10         1.0   1.538462    0.0350         inf
6                 0.40     0.10         1.0   2.500000    0.0600         inf
7                 0.15     0.10         1.0   6.666667    0.0850         inf
8                 0.35     0.10         1.0   2.857143    0.0650         inf
9                 0.30     0.10         1.0   3.333333    0.0700         inf
10                0.30     0.10         1.0   3.333333    0.0700         inf
11                0.25     0.10         1.0   4.000000    0.0750         inf
12                0.35     0.10         1.0   2.857143    0.0650         inf
13                0.65     0.10         1.0   1.538462    0.0350         inf
14                0.25     0.10         1.0   4.000000    0.0750         inf
15                0.65     0.10         1.0   1.538462    0.0350         inf
16                0.15     0.10         1.0   6.666667    0.0850         inf
17                0.40     0.10         1.0   2.500000    0.0600         inf
18                0.40     0.10         1.0   2.500000    0.0600         inf
19                0.15     0.10         1.0   6.666667    0.0850         inf
20                0.35     0.10         1.0   2.857143    0.0650         inf
21                0.30     0.10         1.0   3.333333    0.0700         inf
22                0.10     0.10         1.0  10.000000    0.0900         inf
23                0.20     0.10         1.0   5.000000    0.0800         inf
24                0.10     0.10         1.0  10.000000    0.0900         inf