In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 500)
from matplotlib import pyplot as plt

In [ ]:
ratings = pd.read_csv('/content/ratings.csv')
movies = pd.read_csv('/content/movies.csv')
movies.head(50)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
30,31,Dangerous Minds (1995),Drama
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
32,33,Wings of Courage (1995),Adventure|Romance|IMAX
33,34,Babe (1995),Children|Drama
34,35,Carrington (1995),Drama|Romance
35,36,Dead Man Walking (1995),Crime|Drama
36,37,Across the Sea of Time (1995),Documentary|IMAX
37,38,It Takes Two (1995),Children|Comedy
38,39,Clueless (1995),Comedy|Romance
39,40,"Cry, the Beloved Country (1995)",Drama
40,41,Richard III (1995),Drama|War
41,42,Dead Presidents (1995),Action|Crime|Drama
42,43,Restoration (1995),Drama
43,44,Mortal Kombat (1995),Action|Adventure|Fantasy
44,45,To Die For (1995),Comedy|Drama|Thriller
45,46,How to Make an American Quilt (1995),Drama|Romance
46,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
48,49,When Night Is Falling (1995),Drama|Romance
49,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [ ]:
movies.title = movies.title.map(lambda mov: mov.split('(')[0])
movies.head(1)

   movieId       title                                       genres
0        1  Toy Story   Adventure|Animation|Children|Comedy|Fantasy

In [ ]:
fav_movies = ['Persuasion ', 'Leaving Las Vegas']

In [ ]:
movie_ids = movies.loc[movies.title.isin(fav_movies)].movieId
movie_ids

27           28
14346     74508
42875    164805
Name: movieId, dtype: int64

In [ ]:
ratings = ratings.loc[ratings.rating >= 4]

   userId  movieId  rating     timestamp
0       1      296     5.0  1.147880e+09
2       1      307     5.0  1.147869e+09
3       1      665     5.0  1.147879e+09
5       1     1088     4.0  1.147868e+09
8       1     1237     5.0  1.147869e+09

In [ ]:

usr = ratings.userId.unique()
users = pd.Series([u for u in usr if set(movie_ids).issubset(set(ratings.loc[ratings.userId == u].movieId))])

In [ ]:
users.head()

0     541
1    1652
2    4675
dtype: int64

In [ ]:
mov = ratings.loc[(ratings.userId.isin(users)) & (ratings.rating > 4)]
movg = mov.groupby('movieId').userId.count().nlargest(20)
print(movg)
movies.loc[movies.movieId.isin(movg.index)]

Series([], Name: userId, dtype: int64)

Empty DataFrame
Columns: [movieId, title, genres]
Index: []